<h4 class="mt-4 text-center">請輸入你的支出</h4>
<p class="font-italic">* 為必填</p>

{{!-- create form --}}
<form action="/expenses" method="POST" class="needs-validation" novalidate>
  <div class="form-group" id="createForm">
    <label for="name">名稱 * ：</label>
    <input class="form-control" type="text" placeholder="" name="name" required>
    <div class="invalid-feedback ml-4">
      支出名稱不能為空白！
    </div>
    <label for="merchant">商家 ：</label>
    <input class="form-control" type="text" placeholder="" name="merchant">
    <label for="date">日期 * ：</label>
    <input class="form-control" type="date" placeholder="" name="date" required>
    <div class="invalid-feedback ml-4">
      請選擇日期！
    </div>
    <label for="category">類別 * ：</label>
    <select class="form-control" name="category" required>
      <option value="" disabled selected>請選擇</option>
      {{#each categories}}
      <option value="{{ this.name }}" name="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
    <div class="invalid-feedback ml-4">
      請選擇支出類別！
    </div>
    <label for="amount">金額 * ：</label>
    <input class="form-control" type="number" min="0" max="10000000" step="1" placeholder="ex. 10000" name="amount"
      required>
    <div class="invalid-feedback ml-4">
      請輸入支出金額！(範圍 1 - 10000000)
    </div>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-outline-success mt-4 mr-2" type="submit">新增支出</button>
    <a href="/" class="btn btn-outline-secondary mt-4">取消</a>
  </div>
</form>

{{!-- bootstrap validation --}}
<script src="/javascripts/validation.js"></script>