.container {
  margin: 0 auto;
  max-width: 720px;
}

.totalAmount {
  color: orange;
  font-size: 54px;
}

.icon, .amount, .management {
  text-align: center;
}

#createForm > label, input, select {
  margin: 10px;
}

#editForm > label, input, select {
  margin: 10px;
}

#filterSelect {
  background-color: #f1cc7a;
  color: #3d2c06;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  max-width: 675px;
}

#yearMonth {
	background-color: #ed9128;
  color: #3d2c06;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	width: 50%;
	height: 38px;
  max-width: 675px;
	border: none;
	border-radius: 8px;
}

#reset-button {
	margin-left: 200px;
}

.icon {
  color: #6c9de7;
}


/* login page */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
 * {
	 box-sizing: border-box;
}
 body {
	 font-family: 'open sans', helvetica, arial, sans;
}

 .register-form, .log-form {
	 width: 100%;
	 min-width: 320px;
	 max-width: 475px;
	 background: #fff;
   margin: 0 auto;
	 box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

 .register-form form, .log-form form {
	 display: block;
	 width: 100%;
	 padding: 2em;
}
 .register-form h2, .log-form h2 {
	 width: 100%;
	 color: #fff;
	 font-family: 'open sans condensed';
	 font-size: 1.35em;
	 display: block;
	 background: #2a2a2a;
	 width: 100%;
	 padding: 0.75em 1em 0.75em 1.5em;
	 box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
	 border: 1px solid #1d1d1d;
	 margin: 0;
	 font-weight: 200;
	 letter-spacing: 1.5px;
}
 .register-form  input, .log-form input {
	 display: block;
	 margin: auto auto;
	 width: 100%;
	 margin-bottom: 2em;
	 padding: 0.5em 0;
	 border: none;
	 border-bottom: 1px solid #eaeaea;
	 padding-bottom: 1.25em;
	 color: #757575;
}
 .register-form input:focus, .log-form input:focus {
	 outline: none;
}
 
.lead {
  margin: 0 0 0px 30px;
  padding-bottom: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
}